<%- include ("cabeceras/cabecera.editar.ejs") %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5 offset-md-3 card">
                <div class="card-body">
                    <form action="/updateUsuario/<%= data.id_usuario %>" method="POST">
                        <div class="form-group">
                            <input type="text" name="nombres_usuario" value="<%= data.nombres_usuario%>" 
                                class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellidos_usuario" value="<%= data.apellidos_usuario%>" 
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="email_usuario" value="<%= data.email_usuario%>" 
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="username_usuario" value="<%= data.username_usuario%>" 
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="tipo_usuario" value="<%= data.tipo_usuario%>" 
                                class="form-control">
                        </div>

                        <button type="submit" class="btn btn-primary">
                            Editar usuario
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>