<%- include ("cabeceras/cabecera.editar.ejs") %>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5 offset-md-3 card">
                <div class="card-body">
                    <form action="/updateUsuario/<%= data.id_usuario %>" method="POST">
                        <div class="form-group">
                            <input type="text" name="nombres" value="<%= data.nombres_usuario%>" placeholder="Name"
                                class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="apellidos" value="<%= data.apellidos_usuario%>" placeholder="Address"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="correo" value="<%= data.email_usuarios%>" placeholder="Phone"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="usuario" value="<%= data.username_usuario%>" placeholder="Phone"
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="tipo de usuario" value="<%= data.tipo_usuario%>" placeholder="Phone"
                                class="form-control">
                        </div>

                        <button type="submit" class="btn btn-primary">
                            Editar usuario
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    </body>

    </html>