<%- include ("cabeceras/cabecera.principal.ejs") %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5 offset-md-3 card">
                <div class="card-body">
                    <form action="/updateProducto/<%= data.id_producto %>" method="POST">
                        <div class="form-group">
                            <input type="text" name="descripcion_prod" value="<%= data.descripcion_prod%>" 
                                class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="precio_prod" value="<%= data.precio_prod%>" 
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="id_categoria" id="exampleFormControlSelect1" placeholder="Categoria">
                                <option>seleccionar categoria</option>
                                <option value=1>Consolas</option>
                                <option value=2>celulares</option>
                                <option value=3>camaras de video</option>
                                <option value=4>laptops</option>
                                <option value=5>audifonos</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="imagen_prod" value="<%= data.imagen_prod%>" 
                                class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="cantidad_inventario_prod" value="<%= data.cantidad_inventario_prod%>" 
                                class="form-control">
                        </div>

                        <button type="submit" class="btn btn-primary">
                            Editar producto
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>
