<%- include ("cabeceras/cabecera.listar.ejs") %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>n°</td>
                            <td>Nombres</td>
                            <td>Apellidos</td>
                            <td>Correo electronico</td>
                            <td>Usuario</td>
                            <td>Tipo de usuario</td>
                            <td>Accion</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                            <% for(var i=0; i < data.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= (i + 1) %>
                                    </td>
                                    <td>
                                        <%= data[i].nombres_usuario %>
                                    </td>
                                    <td>
                                        <%= data[i].apellidos_usuario %>
                                    </td>
                                    <td>
                                        <%= data[i].email_usuario %>
                                    </td>
                                    <td>
                                        <%= data[i].username_usuario %>
                                    </td>
                                    <td>
                                        <%= data[i].tipo_usuario %>
                                    </td>
                                    <td>
                                        <a href="/updateUsuario/<%=data[i].id_usuario%>" class="btn btn-info">Editar</a>
                                        <a href="/bajaUsuario/<%=data[i].id_usuario%>" class="btn btn-danger"> Eliminar</a>
                                    </td>
                                </tr>
                                <% } %>
                                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    </body>

    </html>